html, body {
    font-family: "微软雅黑";
    margin:0 auto;
    padding: 0;
}
.clearfix { clear: both!important;  }
/*.clearfix {overflow:auto;_height:1%}*/
.fl { float: left!important; }
.fr { float: right!important; }
.ov { overflow: hidden!important; }
.texl { text-align: left!important; }
.texc { text-align: center!important; }
.texr { text-align: right!important; }
.por { position: relative!important; }
.poa { position: absolute!important; }
.pos { position: static!important; }
.disinblock { display: inline-block!important; }
.disblock { display: block!important; }
.disnone { display: none!important; }
.width100 { width: 100%!important; }
.widthauto { width: auto!important; }
a, a:hover, a:focus { color: initial; text-decoration: none!important; }
label { font-weight: inherit;margin-bottom: 0; }
img { max-width: 100%; }
h1, h2, h3, h4, h5, h6, p, ul, li {margin:0;}
h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
ul { padding: 0;list-style: none;}
button, input { -webkit-appearance: none;outline: none;}
textarea, select { -webkit-appearance: none;outline: none;}
select { background: #fff;}
.bg-f8f8f8 {
    background-color: #f8f8f8!important;
}
.bg-fff {
    background-color: #fff!important;
}
.bg-f6f6f6 {
    background-color: #f6f6f6!important;
}
.bg-f4f4f4 {
    background-color: #f4f4f4!important;
}
.wrap {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main {
				margin-top: 0px;
			}
			
			@media (min-width: 768px) {
				.main {
					margin-top: 100px;
				}
			}
			
			@media (min-width: 992px) {
				.main {
					margin-top: 100px;
				}
			}
			
			@media (min-width: 1200px) {
				.main {
					margin-top: 0px;
				}
			}