/*尾部开始*/
.foot-logo {
	height: 140px;
	background: #f4f4f4 url(../img/images/logo.jpg) no-repeat center 30%;
	background-size: 180px;
	overflow: hidden;
}
.foot-logo p {
	color: #cccccc;
	font-size: 14px;
	text-align: center;
	margin-top: 90px;
	letter-spacing: 8px;
}
.foot-content {
	background: #535353;
	padding-bottom: 70px;
}
.foot-body p {
	font-size: 12px;
	color: #dddddd;
	width: 330px;
	line-height: 30px;
	margin: 60px 0 0 250px;
	float: left;
}
.foot-body img {
	float: left;
	border-radius: 6px;
}
.foot-body .ewm1 {
	margin: 60px 0 0 90px;
}
.foot-body .ewm2 {
	margin: 60px 0 0 20px;
}
.foot-bottom {
	background: #313131;
	padding-bottom: 15px;
}
.foot-bottom .p1 {
	text-align: center;
	margin-top: 20px;
}
.foot-bottom .p1 a {
	font-size: 12px;
	color: #dddddd;
	padding: 0 10px;
	border-right: 1px solid #dddddd;
}
.foot-bottom .p1 a:last-child {
	border: 0;
}
.foot-bottom .p2 {
	text-align: center;
	margin-top: 15px;
	color: #dddddd;
	font-size: 12px;
}
/*尾部结束*/