* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
.common {
	width: 1200px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
/*头部开始*/
.box {
	background: #f4f4f4;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.header {
	height: 105px;
}
.header img, .search {
	margin-top: 28px;
}
.header .logo {
	float: left;
}
.header .phone {
	float: right;
	margin-right: 20px;
}
.header li {
	float: left;
	margin: 45px 15px 0;
}
.header li:first-child {
	margin-left: 40px;
}
.header li a {
	font-size: 14px;
	color: #7d7d7d;
	padding-bottom: 8px;
}
.header li a:hover {
	color: #00a1ff;
	border-bottom: 1px solid #00a1ff;
}
.search {
	width: 210px;
	height: 48px;
	background: white;
	float: right;
	border: 1px solid #e5e5e5;
}
.search input[type=text] {
	width: 142px;
	margin-top: 18px;
	border: 0px;
	border-right: 1px solid #e5e5e5;
	padding-left: 15px;
	float: left;
}
.search input[type=text]:focus {
	outline: 0px;
}
.search input[type=submit] {
	width: 50px;
	height: 48px;
	border: 0;
	float: right;
	background: #fff url(../img/images/search.jpg) no-repeat center center;
}
.search input[type=submit]:hover {
	cursor: pointer;
}
/*头部结束*/